.tab-container {
  padding: 3rem 2rem;
}

.search-container {
  max-width: 500px;
}
.header {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-around;
}
// .page-container {
//   background-color: #fbf7ed;
// }
// "flex w-full mb-10 justify-around

.datatable {
  width: fit-content;
}
.logo {
  height: 1em;
}
